{% extends 'room/base.html' %}

{% block content %}
  <div id="main-content">
    <h1 class="text-center mb-3">ประวัติการจอง</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="status" class="form-label">สถานะ</label>
            <select class="form-select" aria-label="Default select status" name="status" id="status">
              <option value="All" selected>All status</option>
              {% for status in statuses %}
                <option value="{{ status.name }}">{{ status.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <label for="date" class="form-label">วันที่</label>
            <input type="date" class="form-control" name="date" id="date" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body table-responsive">
        <table class="table" id="bookingsTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Status</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
              <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.description }}</td>
                <td>{{ booking.start_date|date:'d/m/Y, H:i' }}</td>
                <td>{{ booking.end_date|date:'d/m/Y, H:i' }}</td>
                <td>{{ booking.remark }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include './script.html' %}
{% endblock %}
