{% extends 'app/base.html' %}

{% block content %}
  <div class="container mt-3">
    <h1 class="text-center mb-3">สถานะการจองห้อง</h1>
    <div class="card p-3">
      <div class="row">
        <div class="col">
          <input type="date" class="form-control" placeholder="First name" aria-label="First name" />
        </div>
        <div class="col">
          <input type="time" class="form-control" placeholder="Last name" aria-label="Last name" />
        </div>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ห้อง</th>
            <th scope="col">การจอง</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IT Room A</td>
            <td>
              <div>
                <span class="badge rounded-pill text-bg-success">04/09/2567 08:00</span>
                <span class="badge rounded-pill text-bg-danger">05/09/2567 08:00</span>
              </div>
              <div>
                <span class="badge rounded-pill text-bg-success">04/09/2567 08:00</span>
                <span class="badge rounded-pill text-bg-danger">05/09/2567 08:00</span>
              </div>
              <div>
                <span class="badge rounded-pill text-bg-success">04/09/2567 08:00</span>
                <span class="badge rounded-pill text-bg-danger">05/09/2567 08:00</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>IT Room B</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
