{% extends 'room/base.html' %}

{% block content %}
  <div id="main-content">
    <h1 class="text-center mb-3">สถานะห้องประชุม</h1>
    <div class="card">
      <div class="card-body">
        <div id="alertPlaceholder"></div> <!-- สำหรับแสดงข้อความแจ้งเตือน -->
        <form id="searchRoom" method="POST" action="{% url 'room_dashboard' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for="room">เลือกห้องประชุม</label>
              <select class="form-select mt-2" aria-label="Default select room" id="room_id" name="room_id">
                <option disabled selected>Open this select menu</option>
                {% for room in rooms %}
                  {% if selectedRoom and selectedRoom.id == room.id %}
                    <option value="{{ room.id }}" selected>{{ room.name }}</option>
                  {% else %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="d-flex mt-3">
              <div class="mx-auto">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if selectedRoom %}
      <div class="card mt-3 mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start"
              alt="{{ selectedRoom.name }}"
              src="{% if selectedRoom.image %}
                {{ selectedRoom.image.url }}
              {% else %}
                
                https://random-image-pepebigotes.vercel.app/api/random-image

              {% endif %}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ selectedRoom.name }}</h5>
              <p class="card-text text-danger">{{ selectedRoom.remark }}</p>
              <div class="fw-semibold mb-1">รายละเอียด</div>
              <p class="card-text">{{ selectedRoom.detail|linebreaksbr }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-primary booking-room-btn mx-auto" data-bs-toggle="modal" data-bs-target="#eventModal" data-room-id="{{ selectedRoom.id }}" data-room-name="{{ selectedRoom.name }}">Booking</button>
      </div>
    {% endif %}
    <div id="calendar" class="mb-3"></div>
  </div>
  {% include 'room/components/modal_detail.html' %}
  {% include './script.html' %}
  {% include 'room/booking/modal_event.html' %}
  {% include 'room/booking/script_modal_event.html' %}
{% endblock %}
