{% extends 'app/base.html' %}

{% block content %}
  {% include 'room/home/navbar.html' %}
  <div class="container mt-3">
    <h1 class="text-center mb-3">สถานะการจองห้อง</h1>
    <div class="card p-3">
      <div id="alertPlaceholder"></div> <!-- สำหรับแสดงข้อความแจ้งเตือน -->
      <form id="searchRoom" method="POST" action="{% url 'room_dashboard' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label for="room">เลือกห้องประชุม</label>
            <select class="form-select mt-2" aria-label="Default select room" id="room_id" name="room_id">
              <option disabled selected>Open this select menu</option>
              {% for room in rooms %}
                {% if selectedRoom and selectedRoom.id == room.id %}
                  <option value="{{ room.id }}" selected>{{ room.name }}</option>
                {% else %}
                  <option value="{{ room.id }}">{{ room.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="d-flex mt-3">
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% if selectedRoom %}
      <div class="card mt-3 mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start"
              alt="{{ selectedRoom.name }}"
              src="{% if selectedRoom.image %}
                {{ selectedRoom.image.url }}
              {% else %}
                
                
                
                https://random-image-pepebigotes.vercel.app/api/random-image



              {% endif %}" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ selectedRoom.name }}</h5>
              <p class="card-text text-danger">{{ selectedRoom.remark }}</p>
              <div class="fw-semibold mb-1">รายละเอียด</div>
              <p class="card-text">{{ selectedRoom.detail|linebreaksbr }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#searchRoom').submit(function (event) {
        // ตรวจสอบว่ามีการเลือกห้องประชุมหรือไม่
        if ($('#room_id').val() === null) {
          event.preventDefault() // ป้องกันการส่งฟอร์ม

          // แสดงข้อความแจ้งเตือน
          $('#alertPlaceholder').html(`
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>กรุณาเลือกห้องประชุม!</strong> คุณต้องเลือกห้องประชุมก่อนค้นหา.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          `)
        }
      })
    })
  </script>
{% endblock %}
