{% extends 'room/base.html' %}

{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
  <div id="main-content">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex col-md-3 border-right">
            <div class="my-auto mx-auto text-center">
              <img class="rounded-circle" width="150px" src="{% if request.user.fccorp.image %}{{ request.user.fccorp.image.url }}{% endif %}" /><div class="font-weight-bold mt-3">{{ request.user.username }}</div><span>{{ request.user.email }}</span>
            </div>
          </div>
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Profile</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label class="labels">Firstname</label><input type="text" class="form-control" placeholder="first name" value="{{ request.user.first_name }}" readonly />
                </div>
                <div class="col-md-6">
                  <label class="labels">Lastname</label><input type="text" class="form-control" placeholder="lastname" value="{{ request.user.last_name }}" readonly />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label class="labels">Employee ID</label><input type="text" class="form-control" placeholder="employee ID" value="{{ request.user.emp_id }}" readonly />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label class="labels">Tel</label><input type="text" class="form-control" placeholder="tel" value="{{ request.user.tel }}" readonly />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label class="labels">Email</label><input type="text" class="form-control" placeholder="email" value="{{ request.user.email }}" readonly />
                </div>
              </div>
              {% comment %} <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="button">Save Profile</button>
              </div> {% endcomment %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center">
                <span class="text-lg">Company/Department</span>
              </div><br />
              <div class="col-md-12">
                <label class="labels">Company</label><input type="text" class="form-control" placeholder="Company" value="{{ request.user.fccorp.fcname }}" readonly />
              </div> <br />
              <div class="col-md-12">
                <label class="labels">Department</label><input type="text" class="form-control" placeholder="Department" value="{{ request.user.fcdept.fcname }}" readonly />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
