<div id="calendar"></div>
<input type="hidden" name="user_id" value="{{ request.user.id }}" />

<!-- Include modal and toast template -->
{% include 'room/booking/toast.html' %}
{% include 'room/booking/modal_event.html' %}
{% include 'room/booking/modal_detail.html' %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<script>
  $(document).ready(function () {
    var calendarEl = $('#calendar')[0]
    var colorToast = new bootstrap.Toast($('#colorToast')[0], { delay: 5000 })
    var dateToast = new bootstrap.Toast($('#dateToast')[0], { delay: 5000 })
    var selectedRoomId = null
  
    function setRoomId(id) {
      selectedRoomId = id
      fetchBookings(id)
      calendar.render()
    }
  
    function fetchBookings(roomId) {
      $.ajax({
        url: `{% url "room_fetch_bookings" %}`,
        method: 'GET',
        data: { room_id: roomId },
        success: function (response) {
          var bookings = JSON.parse(response.bookings)
          calendar.removeAllEvents()
          calendar.addEventSource(
            bookings.map(function (booking) {
              return {
                title: booking.title,
                start: booking.start_date,
                end: booking.end_date,
                color: booking.color,
                extendedProps: {
                  id: booking.id,
                  emp_id: booking.emp_id,
                  firstname: booking.first_name,
                  lastname: booking.last_name,
                  description: booking.description,
                  status: booking.status
                }
              }
            })
          )
        }
      })
    }
  
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      eventTimeFormat: { hour: 'numeric', minute: '2-digit' },
      dayMaxEvents: true,
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'title prev,next today',
        center: 'addEventButton',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      // Setting the date format for the date picker and calendar
      views: {
        dayGridMonth: {
          titleFormat: { year: 'numeric', month: 'long' } // Month in Thai format
        },
        timeGridWeek: {
          titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
        },
        timeGridDay: {
          titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
        }
      },
      customButtons: {
        addEventButton: {
          text: 'add event...',
          click: function () {
            if (selectedRoomId) {
              $('#eventModal').modal('show')
            } else {
              alert('Please select a room first.')
            }
          }
        }
      },
      eventClick: function (info) {
        var eventObject = info.event
        var currentUserEmpId = '{{ request.user.emp_id }}' // ID ของผู้ใช้ปัจจุบัน
        //console.log(eventObject.start)
        $('#eventDetailId').text(eventObject.extendedProps.id)
        $('#eventDetailEmployeeId').text(eventObject.extendedProps.emp_id)
        $('#eventDetailEmployeeName').text(eventObject.extendedProps.firstname + ' ' + eventObject.extendedProps.lastname)
        $('#eventDetailTitle').text(eventObject.title)
        $('#eventDetailDescription').text(eventObject.extendedProps.description)
        $('#eventDetailStart').text(formatDateTime(eventObject.start))
        $('#eventDetailEnd').text(formatDateTime(eventObject.end))
        // กำหนดสีพื้นหลังตามที่ได้รับจาก eventObject
        //$('#eventDetailColor').css('background-color', eventObject.backgroundColor)
        $('#eventDetailStatus').css('background-color', eventObject.color).text(eventObject.extendedProps.status)
  
        // แสดงปุ่ม Cancel ถ้า emp_id ตรงกับ ID ของผู้ใช้ปัจจุบัน
        if (eventObject.extendedProps.emp_id == currentUserEmpId && eventObject.extendedProps.status == 'Waiting') {
          $('#cancelBookingBtn').show()
        } else {
          $('#cancelBookingBtn').hide()
        }
        $('#eventDetailModal').modal('show')
      }
    })
  
    function formatDateTime(date) {
      return moment.utc(date).format('DD MMMM YYYY, HH:mm A')
    }
  
    $('#eventForm').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serializeArray()
      var startDate = formData.find((field) => field.name === 'start_date').value
      var endDate = formData.find((field) => field.name === 'end_date').value
  
      $.ajax({
        url: '{% url "room_save_booking" %}',
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          title: formData.find((field) => field.name === 'title').value,
          description: formData.find((field) => field.name === 'description').value,
          start_date: startDate,
          end_date: endDate,
          room_id: selectedRoomId
        },
        success: function (response, textStatus, jqXHR) {
          if (jqXHR.status === 200) {
            fetchBookings(selectedRoomId)
            $('#eventModal').modal('hide')
            $('#eventForm')[0].reset()
          } else {
            $('#dateToast .toast-body').text(response.status)
            var dateToast = new bootstrap.Toast($('#dateToast')[0], { delay: 5000 })
            dateToast.show()
          }
        },
        error: function (error) {
          $('#dateToast .toast-body').text(error.responseJSON.status)
          var dateToast = new bootstrap.Toast($('#dateToast')[0], { delay: 5000 })
          dateToast.show()
          console.log(error)
        }
      })
    })
  
    // Add this section to set the room ID and load the calendar immediately
    if ($('.room-link').length > 0) {
      var firstRoomId = $('.room-link').first().data('room-id')
      setRoomId(firstRoomId)
    }
  
    $('.room-link').on('click', function () {
      var roomId = $(this).data('room-id')
      setRoomId(roomId)
    })
  
    $('#sidebarCollapse').on('click', function () {
      setTimeout(function () {
        calendar.render()
      }, 300)
    })
  })
</script>
