{% extends 'room/base.html' %}
{% load static %}
{% block content %}
  <div id="main-content">
    <h1 class="text-center mb-3">จองห้องประชุม</h1>

    <form id="searchForm" method="POST" action="{% url 'room_booking' %}">
      {% csrf_token %}
      <div class="card">
        <div class="card-body">
          <div id="alertMessage"></div>
          <div class="row">
            <div class="col">
              <label for="date" class="form-label">วันที่</label>
              <input type="date" class="form-control" name="date" id="date" value="{{ date }}" required />
            </div>
            <div class="col">
              <label for="start_time" class="form-label">ตั้งแต่เวลา</label>
              <input type="time" class="form-control time-picker" name="start_time" id="start_time" placeholder="กรุณาระบุเวลา" value="{{ start_time }}" required />
            </div>
            <div class="col">
              <label for="end_time" class="form-label">ถึงเวลา</label>
              <input type="time" class="form-control time-picker" name="end_time" id="end_time" placeholder="กรุณาระบุเวลา" value="{{ end_time }}" required />
            </div>
          </div>
          <div class="d-flex mt-3">
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row row-cols-1 row-cols-md-4 g-2 mt-3">
      {% for room in rooms %}
        <div class="col">
          <div class="card">
            <img class="card-img-top"
              alt="{{ room.name }}"
              src="{% if room.image %}
                {{ room.image.url }}
              {% else %}
                https://random-image-pepebigotes.vercel.app/api/random-image
              {% endif %}"
              style="height: 150px; object-fit: cover; width: 100%;" />
            <div class="card-body">
              <h5 class="card-title">{{ room.name }}</h5>
              <div class="mb-1 text-primary">รองรับผู้เข้าร่วม 1-{{ room.maximum_capacity }} คน</div>
              <div class="card-text text-danger">{{ room.remark }}</div>
              <div class="mt-2 d-flex gap-1 flex-wrap justify-content-center">
                <button class="btn btn-sm btn-primary view-room-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#roomModal"
                  data-room-id="{{ room.id }}"
                  data-room-name="{{ room.name }}"
                  data-room-detail="{{ room.detail }}"
                  data-room-capacity="{{ room.maximum_capacity }}"
                  data-room-image="{% if room.image %}
                    {{ room.image.url }}
                  {% else %}
                    https://random-image-pepebigotes.vercel.app/api/random-image
                  {% endif %}">
                  View
                </button>
                <button class="btn btn-sm btn-primary booking-room-btn btn-success" data-bs-toggle="modal" data-bs-target="#eventModal" data-room-id="{{ room.id }}" data-room-name="{{ room.name }}">Booking</button>
                <form method="POST" action="{% url 'room_dashboard' %}">
                  {% csrf_token %}
                  <input type="text" id="capacity" name="capacity" value="{{room.capacity_range}}" hidden />
                  <input type="text" id="room_id" name="room_id" value="{{room.id}}" hidden />
                  <button type="submit" class="btn btn-sm btn-primary booking-room-btn btn-warning">Check Room</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">No rooms available for the selected time.</p>
      {% endfor %}
    </div>
  </div>

  <div id="helpToast" class="toast align-items-center text-bg-primary border-0 position-fixed bottom-0 end-0 mb-3 me-3" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="d-flex">
      <div class="toast-body">
        <a href="https://drive.google.com/file/d/1u7nV-yT7hsEXCXrlitftR9lWvHLs1QBK/view?usp=sharing" target="_blank" class="text-white">วิธีการใช้งานระบบจองห้องประชุม</a>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <!-- Modal Structure -->
  {% include './modal_view.html' %}
  {% include './modal_event.html' %}

  <!-- Script -->
  {% include './script.html' %}
  {% include './script_modal_event.html' %}
{% endblock %}
