<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="roomModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="roomModalImage" alt="" />
        <div class="mt-3">
          <label for="roomModalCapacity" class="form-label fw-bold">จำนวนผู้เข้าร่วมประชุม</label>
          <p id="roomModalCapacity"></p>
        </div>
        <div class="mt-3">
          <label for="roomModalDetail" class="form-label fw-bold">รายละเอียด</label>
          <p id="roomModalDetail"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
