{% load static %}

<nav id="sidebar" style="background-color: #07234F;" class="shadow">
  <div class="p-4 pt-5">
    <div class="img logo rounded-circle mb-2" style="background-image: url({{ request.user.fccorp.image.url }});"></div>
    <div class="text-center">สวัสดีคุณ, {{ request.user.first_name }}</div>
    <ul class="list-unstyled components mb-5">
      <li id="booking" class="{% if url == 'booking' %}active{% endif %}">
        <a href="{% url 'room_booking' %}" class="room-link">จองห้องประชุม</a>
      </li>
      <li id="dashboard" class="{% if url == 'dashboard' %}active{% endif %}">
        <a href="{% url 'room_dashboard' %}" class="room-link">สถานะห้องประชุม</a>
      </li>
      <li id="history" class="{% if url == 'history' %}active{% endif %}">
        <a href="/room/history?room_id={{ room.id }}">ประวัติการจอง</a>
      </li>
      <li id="profile" class="{% if url == 'profile' %}active{% endif %}">
        <a href="/room/profile?room_id={{ room.id }}">ประวัติส่วนตัว</a>
      </li>
      {% if user.is_staff == True %}
      {% endif %}
      <li id="signout" class="{% if url == 'profile' %}active{% endif %}">
        <a href="/signout" class="text-danger">ออกจากระบบ</a>
      </li>
    </ul>
  </div>
</nav>
