{% extends 'base.html' %}

{% load static %}

{% block title %}
  Room
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% block content %}
  <div class="wrapper d-flex align-items-stretch">
    {% include 'room/sidebar.html' %}
    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5">
      {% include 'room/navbar.html' %}
      <h2 id="room-title" class="mb-4">กรุณาเลือกห้องประชุม</h2>
      {% include 'room/calendar.html' %}
    </div>
  </div>
{% endblock %}
