{% extends 'base.html' %}

{% load static %}

{% block title %}
  Room
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% block content %}
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url({% static 'images/logo.jpg' %});"></a>
        <ul class="list-unstyled components mb-5">
          {% comment %} <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li> {% endcomment %}
          <li>
            <a>ห้องประชุม A</a>
          </li>
          <li>
            <a>ห้องประชุม B</a>
          </li>
          <li>
            <a>ห้องประชุม C</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5">
      {% include 'room/navbar.html' %}
      <h2 class="mb-4">ห้องประชุม A</h2>
      {% include 'room/calendar.html' %}
    </div>
  </div>
{% endblock %}
