{% extends 'room/calendar/base.html' %}

{% block content %}
  <div class="p-5">
    <h1 class="text-center mb-4" style="font-size: 3rem;">📅 รายการจองห้องประชุม <span id="currentDateTime"></span></h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for room_card in room_cards %}
        <div class="col">
          <article class="postcard light blue h-100 mb-0">
            <img class="postcard__img"
              src="{% if room_card.room.image %}
                {{ room_card.room.image.url }}
              {% else %}
                https://random-image-pepebigotes.vercel.app/api/random-image
              {% endif %}"
              alt="Image Title" />
            <div class="postcard__text t-dark">
              {% if room_card.booking %}
                <h1 class="postcard__title blue" style="font-size: 3rem;">{{ room_card.booking.title }}</h1>
                <div class="postcard__subtitle fs-2">{{ room_card.room.name }}</div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt fs-3">
                  <strong>🕒 เวลา:</strong> {{ room_card.booking.start_date|time:'H:i' }} - {{ room_card.booking.end_date|time:'H:i' }}<br />
                  <strong>👤 ผู้จอง:</strong> {{ room_card.booking.employee.first_name }} {{ room_card.booking.employee.last_name }}<br />
                  <strong>💼 แผนก:</strong> {{ room_card.booking.employee.fcdept.fcname }}<br />
                  <strong>📢 สถานะ:</strong>
                  <span class="badge rounded
                  {% if room_card.booking.status.name == 'Approved' %}
                         bg-primary
                    {% elif room_card.booking.status.name == 'Check-in' %}
                         bg-success
                    {% endif %}">
                    {% if room_card.booking.status.name == 'Approved' %}
                      ✅ รอ Check-in
                    {% elif room_card.booking.status.name == 'Check-in' %}
                      ⏳ กำลังใช้งาน
                    {% endif %}
                  </span>
                </div>
              {% else %}
                <h1 class="postcard__title blue">ไม่พบข้อมูลการประชุม</h1>
                <div class="postcard__subtitle">{{ room_card.room.name }}</div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                  <strong>🕒 เวลา:</strong> - <br />
                  <strong>👤 ผู้จอง:</strong> - <br />
                  <strong>💼 แผนก:</strong> - <br />
                  <strong>📢 สถานะ:</strong>
                  <span class="badge rounded bg-primary">ห้องว่าง</span>
                </div>
              {% endif %}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include './script.html' %}
  {% include './style.html' %}
{% endblock %}
