{% extends 'room/calendar/base.html' %}

{% block content %}
  <section class="">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">📅 รายการจองห้องประชุมวันนี้</div>

      {% if bookings %}
        {% for booking in bookings %}
          {% if forloop.counter|divisibleby:2 %}
            <article class="postcard blue shadow-lg bg-white">
              <img class="postcard__img" src="{{ booking.room.image.url }}" alt="Image Title" />
              {% comment %} <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" /> {% endcomment %}
              <div class="postcard__text t-dark">
                <h1 class="postcard__title blue">{{ booking.title }}</h1>
                <div class="postcard__subtitle">{{ booking.room.name }}</div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ booking.description }}</div>
                <ul class="postcard__tagbox">
                  <li class="tag__item bg-primary text-white">
                    <i class="fas fa-tag mr-2"></i>👤 ผู้จอง: {{ booking.employee.first_name }} {{ booking.employee.last_name }}
                  </li>
                  <li class="tag__item bg-success text-white">
                    <i class="fas fa-clock mr-2"></i>🕒 เวลา: {{ booking.start_date|time:'H:i' }} - {{ booking.end_date|time:'H:i' }}
                  </li>
                </ul>
              </div>
            </article>
          {% else %}
            <article class="postcard red shadow-lg bg-white">
              <img class="postcard__img" src="{{ booking.room.image.url }}" alt="Image Title" />
              <div class="postcard__text t-dark">
                <h1 class="postcard__title red">{{ booking.title }}</h1>
                <div class="postcard__subtitle">{{ booking.room.name }}</div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ booking.description }}</div>
                <ul class="postcard__tagbox">
                  <li class="tag__item bg-primary text-white">
                    <i class="fas fa-tag mr-2"></i>👤 ผู้จอง: {{ booking.employee.first_name }} {{ booking.employee.last_name }}
                  </li>
                  <li class="tag__item bg-success text-white">
                    <i class="fas fa-clock mr-2"></i>🕒 เวลา: {{ booking.start_date|time:'H:i' }} - {{ booking.end_date|time:'H:i' }}
                  </li>
                </ul>
              </div>
            </article>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="text-center">
          <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="No Booking" width="150" class="mb-3" />
          <p class="fs-5 text-muted">ไม่พบการจองห้องประชุมในวันนี้</p>
        </div>
      {% endif %}
    </div>
  </section>
  {% include 'room/room/card/style.html' %}
{% endblock %}
