{% extends 'car/base.html' %}

{% load static %}

{% block title %}
  History
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'car/css/style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% block content %}
  <div class="wrapper d-flex align-items-stretch">
    {% include 'car/components/sidebar.html' %}
    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5">
      {% include 'car/components/navbar.html' %}
      <h2 id="car-title" class="mb-4">{{ car.name }}</h2>
      <!-- Search Inputs -->
      <div class="card shadow-sm mt-3 p-3">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" placeholder="Start Date" />
          </div>
          <div class="form-group col-md-4">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" placeholder="End Date" />
          </div>
          <div class="form-group col-md-4 d-flex align-items-end">
            <button type="button" class="btn btn-primary" id="searchButton">Search</button>
          </div>
        </div>
      </div>
      <div class="table-responsive card shadow-sm mt-3 p-3">
        <table class="table table-borderless table-striped" id="bookingTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Status</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Approver</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
              <tr>
                <td class="text-secondary">{{ booking.id }}</td>
                {% if booking.status.name == 'Waiting' %}
                  <td class="text-warning">{{ booking.status }}</td>
                {% elif booking.status.name == 'Approved' %}
                  <td class="text-success">{{ booking.status }}</td>
                {% elif booking.status.name == 'Rejected' %}
                  <td class="text-danger">{{ booking.status }}</td>
                {% elif booking.status.name == 'Canceled' %}
                  <td class="text-secondary">{{ booking.status }}</td>
                {% endif %}
                <td>{{ booking.title }}</td>
                <td>{{ booking.description }}</td>
                <td>{{ booking.start_date|date:'Y-m-d H:i' }}</td>
                <td>{{ booking.end_date|date:'Y-m-d H:i' }}</td>
                <td>{{ booking.approver.first_name }}</td>
                <td>{{ booking.remark }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Search Script -->
  <script>
    $(document).ready(function () {
      $('#searchButton').click(function () {
        filterTable()
      })
    })
    
    function parseDate(dateStr) {
      return new Date(dateStr.replace(' ', 'T'))
    }
    
    function filterTable() {
      //console.log('Filter function called')
    
      const startDateInput = $('#startDate').val()
      const endDateInput = $('#endDate').val()
    
      //console.log('Start Date Input:', startDateInput)
      //console.log('End Date Input:', endDateInput)
    
      const filterStartDate = startDateInput ? new Date(startDateInput + 'T00:00:00') : null
      const filterEndDate = endDateInput ? new Date(endDateInput + 'T23:59:59') : null
    
      $('#bookingTable tbody tr').each(function () {
        const startDateStr = $(this).find('td').eq(5).text().trim() // เปลี่ยนเป็นคอลัมน์ Start Date
        const endDateStr = $(this).find('td').eq(6).text().trim() // เปลี่ยนเป็นคอลัมน์ End Date
    
        //console.log('Row Start Date:', startDateStr)
        //console.log('Row End Date:', endDateStr)
    
        const rowStartDate = parseDate(startDateStr)
        const rowEndDate = parseDate(endDateStr)
    
        //console.log('Parsed Row Start Date:', rowStartDate)
        //console.log('Parsed Row End Date:', rowEndDate)
    
        let showRow = true
    
        if (filterStartDate && rowEndDate < filterStartDate) {
          showRow = false
        }
        if (filterEndDate && rowStartDate > filterEndDate) {
          showRow = false
        }
    
        //console.log('Show Row:', showRow)
    
        $(this).toggle(showRow)
      })
    }
  </script>
{% endblock %}
