{% extends 'app/base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}

{% block link %}
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" /> {% endcomment %}
{% endblock %}

{% block content %}
  <style>
    .card {
      transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
      transform: scale(1.05); /* ขยายขนาดการ์ดขึ้น 5% */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเมื่อ hover */
    }
    
    .card-img-top {
      height: 400px; /* กำหนดความสูงให้รูปภาพ */
      object-fit: cover; /* ครอบคลุมพื้นที่ด้วยอัตราส่วนคงที่ */
    }
  </style>

  {% include 'app/home/navbar.html' %}
  <div class="container d-flex align-items-center justify-content-center my-3">
    <div class="row w-100 mx-auto my-auto row-gap-3">
      <div class="col-md-6 my-auto">
        <a href="/room" class="text-decoration-none">
          <div class="card mb-3 my-2 h-100">
            <img src="{% static 'app/images/room.jpg' %}" class="card-img-top img-fluid" alt="room" />
            <div class="card-body">
              <h5 class="card-title">ระบบจองห้องประชุม</h5>
              <p class="card-text">สำหรับการจองห้องประชุมภายในองค์กร.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 my-auto">
        <div class="card mb-3 my-2 h-100">
          <img src="{% static 'app/images/car.jpg' %}" class="card-img-top img-fluid" alt="car" />
          <div class="card-body">
            <h5 class="card-title">ระบบจองรถ</h5>
            <p class="card-text">สำหรับการจองรถภายในองค์กร.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
