{% extends 'app/base.html' %}
{% load static %}
{% block title %}
  Signin
{% endblock %}
{% block content %}
  <section class="vh-100" style="background-color: #0A2C55;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block my-auto">
                <img src="{% static 'app/images/logo.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h2 fw-bold mb-0">เข้าสู่ระบบ</span>
                  </div>
                  {% comment %} <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5> {% endcomment %}
                  <form id="login-form" method="post" action="{% url 'signin' %}">
                    {% csrf_token %}

                    <div data-mdb-input-init class="form-outline mb-2">
                      <label class="form-label" for="username_or_email">ชื่อผู้ใช้ หรือ อีเมล</label>
                      <input type="text" id="username_or_email" name="username_or_email" class="form-control" required />
                    </div>

                    <div data-mdb-input-init class="form-outline mb-2">
                      <label class="form-label" for="password">รหัสผ่าน</label>
                      <input type="password" id="password" name="password" class="form-control" required />
                    </div>

                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block" type="submit">เข้าสู่ระบบ</button>
                    </div>

                    {% comment %} <a class="small text-muted" href="{% url 'password_reset' %}">Forgot password?</a> {% endcomment %}
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                      ยังไม่มีบัญชีผู้ใช้ใช่ไหม? <a href="{% url 'signup' %}" style="color: #393f81;">สมัครสมาชิก</a>
                    </p>
                    {% comment %} <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a> {% endcomment %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    $(document).ready(function () {
      $('#login-form').on('submit', function (event) {
        event.preventDefault() // ป้องกันการส่งฟอร์มแบบปกติ
    
        $.ajax({
          type: 'POST',
          url: "{% url 'signin' %}",
          data: $(this).serialize() + '&csrfmiddlewaretoken={{ csrf_token }}',
          dataType: 'json',
          success: function (data) {
            if (data.status === 'success') {
              Swal.fire({
                icon: 'success',
                title: 'Login Successfully',
                text: data.message,
                confirmButtonText: 'OK'
              });
              setTimeout(function () {
                window.location.href = '/'
              }, 3000)
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Login Failed',
                text: data.message,
                confirmButtonText: 'Try Again'
              })
            }
          },
          error: function (xhr, status, error) {
            console.error('Error:', error)
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
              confirmButtonText: 'Try Again'
            })
          }
        })
      })
    })
  </script>
  {% comment %} <script>
    document.getElementById('login-form').addEventListener('submit', function (event) {
      event.preventDefault() // ป้องกันการส่งฟอร์มแบบปกติ
    
      const form = this
      const formData = new FormData(form)
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    
      fetch("{% url 'signin' %}", {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.status === 'inactive') {
            Swal.fire({
              icon: 'error',
              title: 'Inactive Account',
              text: data.message,
              confirmButtonText: 'OK'
            })
          } else if (data.status === 'success') {
            window.location.href = '/'
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Login Failed',
              text: 'Invalid username or password.',
              confirmButtonText: 'Try Again'
            })
          }
        })
        .catch((error) => {
          console.error('Error:', error)
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
            confirmButtonText: 'Try Again'
          })
        })
    })
  </script> {% endcomment %}
{% endblock %}
