{% extends 'app/base.html' %}
{% load static %}
{% block title %}
  Signup
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block content %}
  <section class="h-100" style="background-color: #0A2C55;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Employee registration form</h3>

                  <form id="signupForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="firstname" name="firstname" class="form-control form-control-lg" required />
                          <label class="form-label" for="firstname">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="lastname" name="lastname" class="form-control form-control-lg" required />
                          <label class="form-label" for="lastname">Last name</label>
                        </div>
                      </div>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="emp_id" name="emp_id" class="form-control form-control-lg" required />
                      <label class="form-label" for="emp_id">Employee ID</label>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <select class="form-select" aria-label="Company select" id="id_fccorp" name="fccorp_id" required>
                          <option selected>Choose a company</option>
                          {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.fcname }}</option>
                          {% endfor %}
                        </select>
                        <label class="form-label" for="id_fccorp">Company</label>
                      </div>
                      <div class="col-md-6 mb-4">
                        <select class="form-select" aria-label="Department select" id="id_fcdept" name="fcdept_id" required>
                          <option selected>Choose a department</option>
                          {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.fcname }}</option>
                          {% endfor %}
                        </select>
                        <label class="form-label" for="id_fcdept">Department</label>
                      </div>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="email" name="email" class="form-control form-control-lg" required />
                      <label class="form-label" for="email">Email</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="tel" id="tel" name="tel" class="form-control form-control-lg" required />
                      <label class="form-label" for="tel">Tel</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="username" name="username" class="form-control form-control-lg" required />
                      <label class="form-label" for="username">Username</label>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                          <label class="form-label" for="password">Password</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" required />
                          <label class="form-label" for="confirm_password">Confirm Password</label>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-end pt-3">
                      <p class="my-auto me-auto">
                        Already have an account? <a href="{% url 'signin' %}" class="link-primary">Sign in</a>
                      </p>
                      <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                      <button type="submit" class="btn btn-dark btn-lg ms-2">Signup</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="formToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toastMessage" class="toast-body">
          <!-- Toast message will appear here -->
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  {% comment %}filter script{% endcomment %}
  <script>
    $(document).ready(function () {
      const fccorpSelect = $('#id_fccorp')
      const fcdeptSelect = $('#id_fcdept')
    
      fccorpSelect.on('change', function () {
        const fccorpId = $(this).val()
    
        $.ajax({
          url: `/user/filter/dept/?fccorp=${fccorpId}`,
          method: 'GET',
          success: function (data) {
            fcdeptSelect.empty()
            data.forEach(function (department) {
              fcdeptSelect.append(new Option(department.fcname, department.id))
            })
          }
        })
      })
    })
  </script>

  {% comment %}signup script{% endcomment %}
  <script>
    $(document).ready(function () {
      $('#signupForm').on('submit', function (e) {
        e.preventDefault()
    
        $.ajax({
          type: 'POST',
          url: "{% url 'signup' %}",
          data: $(this).serialize() + '&csrfmiddlewaretoken={{ csrf_token }}',
          success: function (response) {
            const toastElement = $('#formToast')
            const toastMessage = $('#toastMessage')
            const formToast = new bootstrap.Toast(toastElement)
    
            if (response.success) {
              toastElement.removeClass('text-bg-danger').addClass('text-bg-success')
              toastMessage.text('Signup successful! Redirecting...')
              formToast.show()
    
              setTimeout(function () {
                window.location.href = response.redirect_url
              }, 3000)
            } else {
              toastElement.removeClass('text-bg-success').addClass('text-bg-danger')
              toastMessage.text(response.error)
              formToast.show()
            }
          },
          error: function (xhr, status, error) {
            const toastElement = $('#formToast')
            const toastMessage = $('#toastMessage')
            const formToast = new bootstrap.Toast(toastElement)
    
            toastElement.removeClass('text-bg-success').addClass('text-bg-danger')
            toastMessage.text('An error occurred: ' + error)
            formToast.show()
          }
        })
      })
    })
  </script>
{% endblock %}
