{% extends 'room/base.html' %}

{% block content %}
  <div id="main-content">
    <h1 class="text-center mb-3">จัดการห้องประชุม</h1>
    <div class="mx-auto mb-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRoomModal">เพิ่มห้องประชุม</button>
    </div>
    {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <div class="card shadow-sm">
      <div class="card-body table-responsive">
        <table class="table" id="bookingsTable">
          <thead>
            <tr>
              <th scope="col">ลำดับห้อง</th>
              <th scope="col">ชื่อห้อง</th>
              <th scope="col">รองรับจำนวนผู้เข้าร่วม</th>
              <th scope="col">สถานะ</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for room in rooms %}
              <tr>
                <td>{{ room.sequence }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.maximum_capacity }}</td>
                <td>
                  {% if room.status.name == 'Active' %}
                    <span class="badge text-bg-success">{{ room.status.name }}</span>
                  {% elif room.status.name == 'Not Active' %}
                    <span class="badge text-bg-danger">{{ room.status.name }}</span>
                  {% endif %}
                </td>
                <td>
                  <div class="d-flex gap-2">
                    <button class="btn btn-primary view-btn btn-sm" data-id="{{ room.id }}" data-name="{{ room.name }}" data-detail="{{ room.detail }}" data-remark="{{ room.remark }}" data-sequence="{{ room.sequence }}" data-status="{{ room.status.name }}" data-image="{{ room.image.url }}" data-capacity="{{ room.maximum_capacity }}" data-bs-toggle="modal" data-bs-target="#modalView">View</button>
                    <button class="btn btn-warning edit-btn btn-sm" data-id="{{ room.id }}" data-name="{{ room.name }}" data-detail="{{ room.detail }}" data-remark="{{ room.remark }}" data-sequence="{{ room.sequence }}" data-status="{{ room.status.id }}" data-image="{{ room.image.url }}" data-capacity="{{ room.maximum_capacity }}" data-bs-toggle="modal" data-bs-target="#modalEdit">Edit</button>
                    <button class="btn btn-danger delete-btn btn-sm" data-id="{{ room.id }}" data-name="{{ room.name }}">Delete</button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include "./modal_add.html" %}
  {% include "./modal_view.html" %}
  {% include "./modal_edit.html" %}
  {% include "./script.html" %}
{% endblock %}
