{% load static %}

<nav id="sidebar" style="background-color: #07234F;" class="shadow">
  <div class="p-4 pt-5">
    <div class="img logo rounded-circle mb-2" style="background-image: url({{ request.user.fccorp.image.url }});"></div>
    <div class="text-center">สวัสดีคุณ, {{ request.user.first_name }}</div>
    <ul class="list-unstyled components mb-5">
      <li id="car" class="{% if url == 'booking' %}active{% endif %}">
        <a href="/car/booking?car_id={{ car.id }}" class="car-link" data-car-id="{{ car.id }}" data-car-name="{{ car.name }}">จองรถ</a>
      </li>
      <li id="history" class="{% if url == 'history' %}active{% endif %}">
        <a href="/car/history?car_id={{ car.id }}">ประวัติการจอง</a>
      </li>
      <li id="profile" class="{% if url == 'profile' %}active{% endif %}">
        <a href="/car/profile?car_id={{ car.id }}">ประวัติส่วนตัว</a>
      </li>
      {% if user.is_staff == True %}
        <li>
          <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">อนุมัติการจองรถ ({{ car.name }})</a>
          <ul class="collapse list-unstyled" id="pageSubmenu1">
            <li class="{% if url == 'waiting' %}active{% endif %}">
              <a href="/car/approve/waiting?car_id={{ car.id }}">รอการอนุมัติ</a>
            </li>
            <li class="{% if url == 'approved' %}active{% endif %}">
              <a href="/car/approve/approved?car_id={{ car.id }}">รายการที่อนุมัติ</a>
            </li>
            <li class="{% if url == 'rejected' %}active{% endif %}">
              <a href="/car/approve/rejected?car_id={{ car.id }}">รายการที่ปฏิเสธ</a>
            </li>
            <li class="{% if url == 'cancel' %}active{% endif %}">
              <a href="/car/approve/cancel?car_id={{ car.id }}">รายการที่ยกเลิก</a>
            </li>
            <li class="{% if url == 'all_status' %}active{% endif %}">
              <a href="/car/approve/all?car_id={{ car.id }}">สถานะทั้งหมด</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">อนุมัติการจองรถ (ทั้งหมด)</a>
          <ul class="collapse list-unstyled" id="pageSubmenu2">
            <li class="{% if url == 'all_waiting' %}active{% endif %}">
              <a href="/car/approve/all_waiting?car_id={{ car.id }}">รอการอนุมัติ</a>
            </li>
            <li class="{% if url == 'all_approved' %}active{% endif %}">
              <a href="/car/approve/all_approved?car_id={{ car.id }}">รายการที่อนุมัติ</a>
            </li>
            <li class="{% if url == 'all_rejected' %}active{% endif %}">
              <a href="/car/approve/all_rejected?car_id={{ car.id }}">รายการที่ปฏิเสธ</a>
            </li>
            <li class="{% if url == 'all_cancel' %}active{% endif %}">
              <a href="/car/approve/all_cancel?car_id={{ car.id }}">รายการที่ยกเลิก</a>
            </li>
            <li class="{% if url == 'all_all_status' %}active{% endif %}">
              <a href="/car/approve/all_all?car_id={{ car.id }}">สถานะทั้งหมด</a>
            </li>
          </ul>
        </li>
      {% endif %}
      <li id="signout" class="{% if url == 'profile' %}active{% endif %}">
        <a href="/signout" class="text-danger">ออกจากระบบ</a>
      </li>
    </ul>
  </div>
</nav>
