{% extends 'room/base.html' %}

{% load static %}

{% block title %}
  Room
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'room/css/home.css' %}" />
{% endblock %}

{% block content %}
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">Room</div>
      {% for room in rooms %}
        <article class="postcard light 
          {% if forloop.counter|divisibleby:4 %}
            yellow
          {% elif forloop.counter|divisibleby:3 %}
            green
          {% elif forloop.counter|divisibleby:2 %}
            red
          {% else %}         
            blue
          {% endif %}
        ">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img"
              src="{% if room.image %}
                {{ room.image.url }}
              {% else %}
                https://random-image-pepebigotes.vercel.app/api/random-image
              {% endif %}"
              alt="{{ room.name }}" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title"><a href="#">{{ room.name }}</a></h1>
            <div class="postcard__subtitle small">
              <i class="fas fa-calendar-alt mr-2"></i>{{ room.company.name }}
            </div>
            <div class="postcard__bar"></div>
            {% comment %} <div class="postcard__preview-txt">{{ room.detail }}</div> {% endcomment %}
            <ul class="postcard__tagbox">
              <form action="{% url 'booking' %}" method="get">
                <input type="hidden" name="room_id" value="{{ room.id }}" />
                <button class="btn btn-primary" type="submit"><i class="fas fa-tag mr-2"></i>Booking</button>
              </form>
              <button class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#roomModal{{ room.id }}"><i class="fas fa-play mr-2"></i>View Room</button>
            </ul>
          </div>
        </article>
      {% endfor %}

      {% for room in rooms %}
        <!-- Modal Structure -->
        <div class="modal fade" id="roomModal{{ room.id }}" tabindex="-1" aria-labelledby="roomModalLabel{{ room.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark fw-bold" id="roomModalLabel{{ room.id }}">{{ room.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img 
                class="img-fluid" 
                src="{% if room.image %}
                  {{ room.image.url }}
                {% else %}
                  https://random-image-pepebigotes.vercel.app/api/random-image
                {% endif %}"
                alt="{{ room.name }}" 
                />
                {% comment %} <div class="mt-3 text-dark">
                  <strong>Company:</strong> {{ room.company.fcname }}
                </div> {% endcomment %}
                <div class="mt-3 text-dark fw-bold">
                  <label for="exampleFormControlTextarea1" class="form-label">Detail</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly>{{ room.detail }}</textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
