{% extends 'base.html' %}

{% load static %}

{% block title %}
  Approve
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
  <div class="wrapper d-flex align-items-stretch">
    {% include 'room/components/sidebar.html' %}
    <!-- Page Content -->
    <div id="content" class="p-4 p-md-5">
      {% include 'room/components/navbar.html' %}
      <h2 id="room-title" class="mb-4">{{ room.name }}</h2>
      <div class="table-responsive card shadow-sm mt-3 p-3">
        <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Requester</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
              <tr>
                {% if booking.status.name == 'Waiting' %}
                  <td class="text-warning">{{ booking.status }}</td>
                {% elif booking.status.name == 'Approved' %}
                  <td class="text-success">{{ booking.status }}</td>
                {% elif booking.status.name == 'Rejected' %}
                  <td class="text-danger">{{ booking.status }}</td>
                {% elif booking.status.name == 'Cancel' %}
                  <td class="text-secondary">{{ booking.status }}</td>
                {% endif %}
                <td>{{ booking.employee.first_name }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.description }}</td>
                <td>{{ booking.start_date }}</td>
                <td>{{ booking.end_date }}</td>
                <td>
                  <div>
                    <button class="btn btn-success" onclick="handleAction('Approve', '{{ booking.id }}')">Approve</button>
                    <button class="btn btn-danger" onclick="handleAction('Reject', '{{ booking.id }}')">Reject</button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    function handleAction(action, bookingId) {
      const actionText = action === 'Approve' ? 'approve this booking' : 'reject this booking'
      Swal.fire({
        title: `Are you sure you want to ${actionText}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: `Yes, ${action.toLowerCase()} it!`,
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          if (action === 'Approve') {
            $.ajax({
              url: `/room/approve-booking/${bookingId}/`,
              method: 'POST',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function (data) {
                if (data.status === 'Booking approved successfully!') {
                  // SweetAlert2 success message
                  Swal.fire('Approved!', 'The booking has been approved.', 'success')
                  fetchBookings(selectedRoomId)
                } else {
                  Swal.fire('Error!', data.status, 'error')
                }
              },
              error: function () {
                Swal.fire('Error!', 'An unexpected error occurred.', 'error')
              }
            })
          }
          // Add similar logic for Reject action
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          Swal.fire('Cancelled', 'The booking remains unchanged.', 'error')
        }
      })
    }
  </script>
{% endblock %}
